.contact-card{
  position: relative;
  top: 2em;
  padding: 3em;
  cursor: pointer;
  /* border: 1px solid green; */
}

.contact-card:hover{
  background-color: rgba(149, 148, 148, 0.4);
}

.active{
  background-color: rgba(149, 148, 148, 0.4);
}

.avatar{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 1em;
  left: 1em;
  /* border: 3px solid white; */
  border-radius: 50%;
}

.avatar-rounded{
  border: 4px solid white;
}

.avatar-name{
  font-size: 16px;
}


.avatar-details{
  /* border: 1px solid orange; */
  position: absolute;
  top: 1em;
  right: 2em;
  width: 10.5em !important;
}

.avatar-status{
  font-size: 12px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  margin-top: -5px;
}


.dot-off{
  color: red;
  font-size: 32px;
  margin-top: -3px;
}

.dot-on{
  color: green;
  font-size: 32px;
  margin-top: -3px;
}

.dot-six{
  margin-bottom: 3px;
}

/* direct-messaging: */

.avatar-contact-info{
  position: relative;
  /* border: 1px solid yellow; */
  top: 1em;
  width: 65em;
}


.direct-msg-avatar{
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 1em;
  left: 2em;
  cursor: pointer;
}

.direct-msg-details{
  position: absolute;
  top: 1em;
  left: 6em;
}

.msg-name{
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.msg-status{
  font-size: 12px;
  margin-top: 7px;
  display: flex;
}

.msg-dot-on{
  color: green;
  font-size: 32px;
  margin-top: -17px;
}

.msg-about{
  margin-top: -6px;
  font-size: 0.75em;
  margin-left: 2px;
}


/* MEDIA QUERIES */

@media (max-width: 960px) {

  .contact-card{
    padding: 2.5em;
  }

  .avatar-contact-info{
    left: 7em;
  }

}


@media (max-width: 720px) {

}


@media (max-width: 540px) {

  .contact-card{
    padding: 2.5em;
    width: 7em;
  }

  .avatar-contact-info{
    top: -28em;
    left: 6em;
  }

  .avatar{
    width: 30px;
    height: 30px;
    margin-left: -1em;
  }

  .avatar-name{
    font-size: 8.5px;
    margin-left: 7em;
  }
  .avatar-status{
    font-size: 8px;
    margin-left: 3em;
  }
}
