
.searchbar{
  margin-top: 2em;
  margin-left: 1em;
}

.search-btn{
  padding: 8px 10px;
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
}

.search-bar{
  border-radius: 5px;
  padding: 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-left: -4px;
}
